logs/chat_history.bak.txt
logs/chat_history.txt
chatbot-env/**
chatbot-env
sandbox/**
last_world_state.json
user_feedback.txt
logs/**
__pycache__/**
.env/**
**/__pycache__/**
*.jsonl
states/*
@test*
/chat_vectors.index
/.idea/chatbot.iml
.idea/**
